 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1f9dd6_4478fdff27024b8cad3bce6762a51427mv2.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 260px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-align: center;
  text-decoration: underline !important;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-size: 1.875rem;
  width: 810px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-3 {
  text-align: start;
  font-size: 1.25rem;
  margin: 9px 463px 0 344px;
}

.u-section-1 .u-text-4 {
  text-align: start;
  font-size: 1.25rem;
  margin: -24px 303px 0 677px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: -5px 157px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-5 {
  text-align: center;
  font-size: 3rem;
  margin: -52px auto 0 280px;
}

.u-section-1 .u-text-6 {
  width: 826px;
  margin: 9px auto 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 363px;
    margin-left: 244px;
  }

  .u-section-1 .u-text-4 {
    width: 160px;
    margin-left: 577px;
    margin-right: 203px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -4px;
    margin-right: 111px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -56px;
    margin-left: 203px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin: 10px 57px 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-right: 260px;
    margin-left: 127px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 93px;
    margin-left: 467px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: 31px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -54px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-6 {
    margin: 13px 0 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: -21px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 48px;
    margin-right: 170px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 3px;
    margin-left: 377px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: -75px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -44px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-right: -50px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    width: 160px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 9px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -30px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
    margin-bottom: 13px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 461px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-align: center;
  text-decoration: underline !important;
  width: 231px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-align: center;
  width: 826px;
  margin: 7px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 209px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-2 .u-text-4 {
  margin: 18px 23px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-2 .u-text-6 {
  margin: 18px 23px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  margin: 0 1px;
}

.u-section-2 .u-text-8 {
  margin: 18px 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 475px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 16px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 224px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 4px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 17px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 225px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 0 42px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 0 31px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0 0 6px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 7px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 221px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 26px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    margin-left: -8px;
    margin-right: -8px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 1px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 16px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 375px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1f9dd6_9a388158758f4e5c8cece59a239d7f2bmv2.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 204px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-align: center;
  text-decoration: underline !important;
  margin: 9px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 3rem;
  margin: 53px 169px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-2 {
  text-align: center;
  font-size: 3rem;
  margin: -66px auto 0 206px;
}

.u-section-3 .u-text-3 {
  width: 826px;
  margin: -111px auto 97px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 37px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -68px;
    margin-left: 191px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -93px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 6px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: -38px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin: 16px 16px 33px -16px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 2.25rem;
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -47px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-3 {
    margin: 23px 0 29px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 23px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -28px;
    margin-left: 14px;
  }

  .u-section-3 .u-text-3 {
    margin: 14px 14px 25px -14px;
  }
}